In [ ]:
import pandas as pd 
import numpy as np
import plotly.express as px
import seaborn as sns
mobile_df = pd.read_csv('mobile_cleaned.csv')
df = mobile_df.copy()

# Check that dataset contains duplicate entries

In [ ]:
df[df.duplicated()]

# To print all column names

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.head()

-  Remove 'Price_INR' column from the dataframe because price in INR so that it does not affect the analysis

In [ ]:
df.drop(columns='Price_INR',inplace=True)

- Covert all column names to lowercase for consistency

In [ ]:
df.columns = df.columns.str.lower()

### To convert all the object type columns to lowercase for consistency

In [ ]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].apply(lambda x: x.lower() if isinstance(x, str) else x)

In [ ]:
(df == 'nan').sum().sort_values(ascending=False).head(10)

In [ ]:
df['processor'] = df['processor'].astype('category')

In [ ]:
df['name']=df.name.str.lower().astype('category')
df.brand = df.brand.str.lower().astype('category')
df['price'] = df['price'].str.replace('₹','').str.replace(',','').astype(int)
df['price'].skew()

# price column skewness analysis 5.122365415335754 
- ploting boxplot and histogram to check the distribution of price column 
- Remoive the outliers from price column using IQR method

- After 1.799039108163749

In [ ]:
sns.boxplot(df,x ='price')

# The xiaomi redmi k20 pro signature edition 
The `Redmi K20 Pro Signature` Edition, a one-off luxury device made of `gold and diamonds`, was priced at about `₹4,80,000` in India at launch in `2019`. Only `20 units` were ever made, and the phone is `not available` for purchase. 
<br> 
<b>Key details on the Redmi K20 Pro Signature Edition<b> 
<br>
- **Design**: The special edition phone was built with 100 grams of gold and adorned with a diamond-studded logo.
- **Status**: It was a promotional, collector's item and not a standard retail version.
- **Availability**: The phone is extremely rare and no longer available for sale to the public. 
- Upcoming vertu metavertu 2	
- luxury smartphone vertu ironflip	
- So we can consider this as an outlier and remove it from the dataframe

### Price greater than 200000 analysis
- `vertu metavertu 2` - Upcoming vertu metavertu 2	
- `vertu ironflip` - luxury smartphone vertu ironflip	
- `Samsung Galaxy Z Fold7 (16GB RAM + 1TB)` - The high price of the Samsung Galaxy Z Fold7 (16GB RAM + 1TB) is driven by the advanced engineering and components required to produce a foldable phone. The 16GB of RAM and 1TB of storage also contribute to the cost, as this is the highest possible configuration
- `Huawei Mate XT Ultimate` - The high price of the Huawei Mate XT Ultimate is due to its groundbreaking tri-fold design, custom-made components, and premium materials, all of which incur significant research and manufacturing costs. As the world's first triple-folding smartphone, it occupies an exclusive niche for design enthusiasts and early adopters
- `Apple iPhone 17 Pro Max (2TB)` - The high price of the Apple iPhone 17 Pro Max (2TB) is a result of a combination of premium components, innovative engineering, Apple's market positioning, and significant additional costs specific to the Indian market. The 2TB variant specifically represents the highest-end, "maxed out" configuration. 
# So we can consider these as outliers and remove them from the dataframe

In [ ]:
df = df[df['price']<200000]


     - Budget (₹99 - ₹14,999)
       - Entry-level phones, avg ₹9,875
       - 220 phones (25.1%)
     - Mid-Range (₹15,074 - ₹29,999)
       - Value-for-money options, avg ₹22,290
       - 332 phones (37.9%) - largest segment
     - Premium (₹30,990 - ₹49,990)
       - High-end features, avg ₹38,894
       - 156 phones (17.8%)
     - Flagship (₹50,990 - ₹4,89,990)
       - Top-tier devices, avg ₹95,600
       - 167 phones (19.1%)

In [ ]:
df['price'].skew()

In [ ]:
df['price'].describe()

### About Price of phones
- All detail follow this link:[link](https://gemini.google.com/share/9d5427bd6c1b)
- Since clear maxium phoes is not a smartphone 
- `namotel achhe din` : phone is not for sale
- `htc wildfire e5 life`: Similar Names: This phone is often confused with other, more expensive models, which causes the most confusion 
- Since many phones are unavailable in the market and for sales , we can remove these two also from the dataframe

In [ ]:
df = df[df['price']>3000]

In [ ]:
df['price'].mean()

In [ ]:
df = df[df['price']<175000]

### Remove all outlire from price column using q1 - q3

In [ ]:
sns.kdeplot(df['price'])

In [ ]:
df = df[df['price']<150000]

In [ ]:
numeric_df= df.select_dtypes(include='number')
numeric_df.columns

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(20,10))
corr = df.corr(numeric_only=True)['price']
sns.heatmap(corr.to_frame(), annot=True, cmap='coolwarm')
# df['price'].corr(df['processor_speed_ghz'])
plt.show()

In [ ]:
# 1. Calculate the correlation matrix and select the 'price' column
corr_with_price = df.corr(numeric_only=True)['price']

# 2. Filter this Series to find correlations less than 0.25  
weak_corr_cols = corr_with_price[corr_with_price < 0.25]

# 3. Get the .index, which contains the column names
weak_col_names = weak_corr_cols.index

print(weak_col_names.tolist())

In [ ]:
df.drop(columns=weak_col_names, inplace=True)

In [ ]:
df.shape

In [ ]:
df['price'].skew()

In [ ]:
import plotly.express as px
px.box(df, x='price')

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(20,10))
corr = df.corr(numeric_only=True)['price']
sns.heatmap(corr.to_frame(), annot=True, cmap='coolwarm')
plt.show()

In [ ]:
df.select_dtypes(include=['object','category']).columns

In [ ]:
df.drop(columns='specs', inplace=True)

### Work on null values of categorical columns

In [ ]:
# making all object columns as category dtype
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype('category')
df.info()

In [ ]:
df.select_dtypes(include='category').isnull().sum()

In [ ]:
df=df[~df['name'].isnull()]

In [ ]:
df.select_dtypes(include='bool').isnull().sum()

In [ ]:
import numpy as np 
def convert_unknowns_to_nan(data_frame: pd.DataFrame) -> pd.DataFrame:
    """
    This function finds all cells with the exact string 'unknown'
    and replaces them with a proper np.nan (Not a Number) value.
    """
    # .replace() is the correct and safe method.
    # It replaces *only* the matching cell, not the whole row.
    df_cleaned = data_frame.replace('unknown', np.nan)
    return df_cleaned

# --- 3. Use the function ---
df = convert_unknowns_to_nan(df)

In [ ]:
df.select_dtypes(include='category').isnull().sum()

In [ ]:
df.isnull().sum()/len(df) * 100

In [ ]:
df[df['fast_charging_w'].isnull()]

In [ ]:
# To fill the missing numbers value with knn imputer
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df[['processor_speed_ghz', 'ram_gb', 'storage_gb',
       'fast_charging_w', 'display_width', 'total_pixels', 'display_ppi',
       'refresh_rate_hz',
       'front_camera_mp', 'total_camera_mp',
       'price_per_gb_ram', 'price_per_gb_storage']] = imputer.fit_transform(df[[ 'processor_speed_ghz', 'ram_gb', 'storage_gb',
       'fast_charging_w', 'display_width', 'total_pixels', 'display_ppi',
       'refresh_rate_hz',
       'front_camera_mp', 'total_camera_mp',
       'price_per_gb_ram', 'price_per_gb_storage']])

In [ ]:
df.isnull().sum()/len(df) * 100

In [ ]:
df[df['battery_category'].isna()]

In [ ]:
df['battery_category']=df['battery_category'].fillna('large')

In [ ]:
df[df['processor'].isna()][['name','brand','processor','cores']]

In [ ]:
df

In [ ]:
df['cores']=df.cores.astype('object').fillna('octa').astype('category')

In [ ]:
# Check name contains flip
df = df[~df['name'].str.contains('flip', na=False)]

In [ ]:
df.drop(df[df['name']=='nokia 3210 4g (2024)'].index, inplace=True)

In [ ]:
df.isnull().sum()/len(df) * 100

In [ ]:
df[df['processor'].isna()]

In [ ]:
len(df['processor'].unique().tolist())

In [ ]:
df['processor'] = (
    df['processor']
    .str.lower()
    .str.strip()
    .str.replace(r'\s+', ' ', regex=True)
)

#  Safely restore NaN before mappings
df['processor'] = df['processor'].replace({'nan': np.nan})

#  Apply mapping
mapping = {
    'snapdragon 8+ gen1': 'snapdragon 8 plus gen1',
    'snapdragon  8 gen1': 'snapdragon 8 gen1',
    'snapdragon 778g+': 'snapdragon 778g plus',
    'helio  p22': 'helio p22',
    'dimensity  900': 'dimensity 900'
}
df['processor'] = df['processor'].replace(mapping)

# Convert to category last
df['processor'] = df['processor'].astype('category')

len(df['processor'].unique().tolist())

In [ ]:
df.columns.tolist()

In [ ]:
df.isnull().sum().to_dict()

In [ ]:
df['processor'].isnull().sum()

In [ ]:
df.to_csv('mobile_eda.csv',index=False)

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

df = pd.read_csv('mobile_eda.csv')

# --- Step 1: Create a server-level engine ---
server_engine = create_engine("mysql+mysqlconnector://root:root@localhost", pool_recycle=3600)

# --- Step 2: Create the database using a connection ---
with server_engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS smartpulse"))
    print("Database 'smartpulse' created or already exists.")
    
# --- Step 3: Create a NEW engine that connects *directly* to that database ---
# Note the '/smartpulse' in the URL
db_engine = create_engine("mysql+mysqlconnector://root:root@localhost/smartpulse", pool_recycle=3600)

# --- Step 4: Write the DataFrame using the new, database-specific engine ---
# df.to_sql() will handle its own connections from db_engine
try:
    df.to_sql('mobile_eda', con=db_engine, if_exists='replace', index=False)
    print("DataFrame successfully written to 'smartpulse.mobile_eda'")
except Exception as e:
    print(f"An error occurred: {e}")